<h3 id="component-jumbotron">Jumbotron <a class="text-muted" href="#component-jumbotron">#</a></h3>
<div class="jumbotron">
  <h1 class="display-3">Buildpack</h1>
  <p class="lead">Build-tools setup for customizing and creating skins for Bootstrap.</p>
  <hr class="my-4">
  <p>It is powered by <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://gulpjs.com/" target="_blank">Gulp</a>, <a href="https://sass-lang.com/" target="_blank">Sass</a>, <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a> and obviously, <a href="https://nodejs.org/en/" target="_blank">Node.js</a>.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ url_code }}" role="button" target="_blank">Github</a>
  </p>
</div>
