<h3 id="component-tables">Tables <a class="text-muted" href="#component-tables">#</a></h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Type</th>
    <th scope="col">Column #1</th>
    <th scope="col">Column #2</th>
    <th scope="col">Column #3</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-active">
    <th scope="row">Active</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr>
    <th scope="row">Default</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr class="table-primary">
    <th scope="row">Primary</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr class="table-secondary">
    <th scope="row">Secondary</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr class="table-success">
    <th scope="row">Success</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr class="table-danger">
    <th scope="row">Danger</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr class="table-warning">
    <th scope="row">Warning</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr class="table-info">
    <th scope="row">Info</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr class="table-light">
    <th scope="row">Light</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  <tr class="table-dark">
    <th scope="row">Dark</th>
    <td>Content</td>
    <td>Content</td>
    <td>Content</td>
  </tr>
  </tbody>
</table>
