<!doctype html>
<html lang="en">
<head>
  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
  {% endblock %}
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ url_home }}css/bootstrap.css">
  {% endblock %}
</head>
<body>
<header class="mb-3">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ url_home }}">Bootpack</a>
    </div>
  </nav>
</header>
{% block body %}{% endblock %}
<hr>
<footer class="container">
  <p class="mb-0">Composed by <a href="http://vaibhavpandey.com/" target="_blank">Vaibhav Pandey</a> with parts from <a href="https://bootswatch.com/" target="_blank">Bootswatch</a>.</p>
  <p class="mb-0">Source code available under <a href="{{ url_code }}/blob/master/LICENSE" target="_blank">MIT</a> license.</p>
  <p>Based on <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>.</p>
</footer>
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
